// header height
$header-height: 50px;
// padding
$page-wrapper-padding: 3px;
// colors
$wincalx-theme-color: #9e9a8f;
// button bg color
$button-bg-color: #c6cbc6;
// pure loader color
$pure-loader-border-color: #fff;
