.carousel-wrapper {
  &-inner {
    .ant-carousel {
      .slick-slide {
        text-align: center;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
        }
      }
      .slick-dots li.slick-active button {
        background: #607d8b !important;
      }
    }
  }
}
